# Node
node_modules/
.next/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Laravel
/vendor/
.env
.phpunit.result.cache
/storage/*.key
/public/storage

# Docker
*.log
docker-compose.override.yml

# Other
*.zip
*.tar
*.gz
.DS_Store
.idea/
.vscode/
